$body-bg: #fff;
$body-color: #888;
$headings-color: #333;
$link-color: $headings-color;
$gold: #DAA520;
$primary: #000;
$dark: #242529;
$secondary: $gold;

$font-size-base: 1.15rem;
//$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-family: 'Arkhip', Helvetica, Arial, sans-serif;
$link-hover-decoration: none;

$border-radius: 0;
$headings-margin-bottom: 1.25rem;
$paragraph-margin-bottom: 1.25rem;