.infobar {
  position: absolute;
  top: 100%;
  left: 80px;
  margin-top: -20px;
  font-size: rem-calc(14);
  z-index: 50;

  &-item {
    text-align: center;
    margin-left: 1px;
    background-color: $primary;
    color: #fff;

    &__heading {
      font-size: rem-calc(11);
      height: 20px;
      line-height: 20px;
      border-bottom: 1px solid rgba(#fff, 0.2);
      padding: 0 10px;
    }

    &__body {
      padding: 10px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(100% - 20px);

      .date {
        font-size: rem-calc(48);
      }

      .price {
        font-size: rem-calc(30);
      }
    }
  }

  .favorites-icon {
    font-size: rem-calc(48);
    cursor: pointer;
  }
}

.product-item .infobar {
  left: 40px;
}