.article-preview {
  @extend .product-preview;
  color: $dark;

  h5 {
    color: $dark;
  }

  &.no-shadow {
    box-shadow: none !important;
  }

  &__image {
    padding-top: 100%;
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    transition: 1s ease;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      &--large {
        padding-top: 0;
        height: 468px;
      }
    }
  }

  .read-more {
    transition: 0.35s;
  }

  &:hover {
    box-shadow: 0 5px 60px -20px rgba($primary, 0.9);
    color: $dark;

    .article-preview__image {
      transform: scale(1.05);
    }

    h5 {
      color: $gold;
    }
  }
}

.article {
  &-image {
    height: 630px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    margin-bottom: rem-calc(40);
  }
}

#articles {
  padding: 0;
  margin: 80px 0;
  overflow: hidden;

  .tabs-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45vw;
    transition: 0.35s;
    background-position: 50% 50%;
    background-size: cover;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      width: 60vw;
    }
  }

  .tabs-item {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      left: -100px;
      top: 0;
      bottom: 0;
      width: 1000px;
      content: '';
      background-color: $primary;
      z-index: -1;
      opacity: 0;
      transition: 0.35s;
    }

    &__description {
      height: 50px;
      overflow: hidden;
      position: relative;
    }

    .read-more {
      display: block;
      height: 0;
      transition: 0.5s;
      transform: translateY(200px);
      opacity: 0;
      pointer-events: none;
    }

    &.is-active {
      cursor: auto;

      .read-more {
        display: inline;
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }

      &::before {
        opacity: 1;
      }

      .tabs-item__description::after {
        background: linear-gradient(to top, $gray-100 25%, transparent);
      }
    }
  }
}
.video-feedback {
  padding-top: 800/1200*100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;


  img {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55px;
    height: 55px;
  }

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}