#app-header {
  position: relative;
  font-family: $headings-font-family;
  font-size: rem-calc(14);
  z-index: 100;
  height: 75px;

  &.is-light {
    a {
      color: #fff;

      &:hover {
        color: $gold;
      }
    }
  }

  &.is-fixed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .breadcrumbs {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: $body-color;
    background-color: #f7f7f7;
    padding: rem-calc(8) rem-calc(20);
  }

  .nav {
    font-size: rem-calc(13);
    text-transform: uppercase;
    position: relative;

    &-link {
      padding: 0 rem-calc(15);
      line-height: 75px;
      background-color: transparent;

      &[data-search] {
        width: 75px;
        text-align: center;
      }

      &:hover {
        background-color: lighten($primary, 10%);
      }
    }
  }

  .navbar {
    padding: 0;

    &--left {
      background-color: $primary;
      color: #fff;

      a {
        color: currentColor;

        &:hover {
          color: $secondary;
        }
      }
    }

    &--right {
      padding-right: 0;
    }
  }
}

.locale-selector {
  display: flex;

  &__item {
    padding: rem-calc(3) rem-calc(5);

    &.is-active {
      background-color: $primary;
      color: #fff;
    }
  }
}

.container-fluid {
  &--header {
    max-width: 1600px;
  }
}