#app-header {
  position: relative;
  font-family: $headings-font-family;
  font-size: rem-calc(14);
  z-index: 100;
  height: 75px;

  &.is-light {
    a {
      color: #fff;

      &:hover {
        color: $gold;
      }
    }
  }

  &.is-fixed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  .breadcrumbs {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: $body-color;
    background-color: #f7f7f7;
    padding: rem-calc(8) rem-calc(20);
  }
}

.nav-link {
  &--logo {
    transition: 0.5s;
    svg {
      fill: #fff;
    }

    &:hover {
      svg {
        fill: $gold;
      }
    }
  }
}

.locale-selector {
  display: flex;

  &__item {
    padding: rem-calc(3) rem-calc(5);

    &.is-active {
      background-color: $primary;
      color: #fff;
    }
  }
}

.container-fluid {
  &--header {
    max-width: 1600px;
    padding-left: 0;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
}